@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html{
    /* width: 100%; */
   
}

body {
    margin: 0;
}

#container {
    background-color: black;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 1vw;
    margin: auto;
    width: 100%;
}



/* HEADER */

#site-header{
    position: relative;
    height: auto;
}


#cover-img{
    opacity: 0.2;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    object-fit: cover;
}

nav{
    display: block;
}

.navbar {
    width: 100%;
    position: absolute;
    top: 0.2vw;
}

.navbar-section{
    margin: 0vw 13vw;
    border-bottom: 0.1vw solid;
    border-color: rgba(255,255,255, 0.1);

}

.navbar-section div{
    margin-bottom: 1vw;
}


.logo{
    display: inline-block;
    position:relative;
    padding-top: 1vw;
}


.navbar-buttons{
    padding-top: 1vw;
    float: right;
    position:relative;
}

.navbar-buttons a{
    margin-left: 3.7vw;
    padding-bottom: 1.9vw;
}

.navbar-buttons a:hover{
    border-bottom: 0.1vw solid;
    border-color: rgba(255,255,255, 0.5);
}

#header-content{
    position: absolute;
    top: 54%;
    left: 49%;
    text-align: center;
    transform: translate(-50%, -50%);
}

#header-content h1{
    margin: 0;
    font-size: 3.8vw;
}

#header-content p{
    font-size: 1.7vw;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
}

#user-nav{
    position: absolute;
    width: 100%;
    background-color: black;
    margin-top: -0.3vw;
}

#user-nav a{
    padding: 2vw 0;
    display: inline-block;
    width: 51%;
    font-weight: 600;
    font-size: 1.3vw;
    text-align: center;
}

#login-btn{
    background-color: #21424A;
    float:left;
    clip-path: polygon(0 0, 100% 0%, 97% 100%, 0% 100%);
    margin-right: -2vw;
    
}

#register-btn{
    float: right;
    background-color: #2FAC6C;
    clip-path: polygon(3% 0%, 100% 0%, 100% 100%, 0 100%);
    margin-left: -2vw;
}

#login-btn:hover{
    background-color: #476d78;
    text-shadow: 0.1vw 0.1vw 1vw white;
}

#register-btn:hover{
    background-color: #56c68c;
    text-shadow: 0.1vw 0.1vw 1vw white;

}


a:-webkit-any-link {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}



/* MAIN */

#site-content{
    background-color: white;
    color: black;
}

#about-us{
    position: absolute;
    width: 100%;
    display: inline-flex;
    margin-top: 8vw;
    padding-bottom: 4vw;
}

#about-us-text{
    position: relative;
    display: inline-block;
    max-width: 45%;
    text-align: left;
    margin-top: 3vw;
    max-height:fit-content;
}

.container-about-us{
    border-right: 0.2vw dotted #939393;   
    padding-left: 12vw;
    padding-right: 6vw;
    
}
.about-us-header{
    font-size: 2.5vw;
    margin:0;
    padding-bottom: 1vw;
}

.text{
    font-size: 1vw;
    color: #939393;
    width: 100%;
    line-height: 1.6;
}

.bold{
    font-weight: 900;
}

#employees{
    display: inline-block;
    width: 55%;
    margin-top: 3vw;

}

.employees-table{
    padding-left: 6vw;
    /* padding-right: 8vw; */
}

.people td{
    padding-right: 8vw;
    text-align: center;
    font-weight: bold;
}

.person-img{
    clip-path: circle(50%);
    padding: 0.3vw 0.3vw 0.1vw 0.3vw;
    background-color: #93939350;
    overflow: auto;
    display:block;
    max-width: fit-content;
}

.person-img img{
    text-align: center;
    clip-path: circle(50%);
}

.person-name{
    margin-top: 1vw;
    font-weight: 600;

}

.profession{
    margin-top: 0.5vw;
    color: #939393;
    font-size: 0.9vw;
}

.emoticons{
    margin-top: 0.5vw;
    float: left;
}

.emoticons i{
    padding-left: 1vw;
    font-size: 0.8vw;
    color: #BFBFBF;
}

.emoticons i:hover{
    color: #0F80B5;
}


p {
    margin-block-start: 0;
    margin-block-end: 0;
}
/* @media only screen {
     For mobile phones:  
    .logo-button {
      width: 50%;
    }
  } */

