@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
    /* width: 100%; */

}

body {
    margin: 0;
}

#container {
    background-color: black;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 1vw;
    width: 100%;
    /* position: absolute; */
}



/* HEADER */

#site-header {
    position: relative;
    height: auto;
}




#cover-img {
    opacity: 0.2;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    object-fit: cover;
}

nav {
    display: block;
}

.navbar {
    width: 100%;
    position: absolute;
    top: 0.2vw;
}

.navbar-section {
    margin: 0vw 13vw;
    border-bottom: 0.1vw solid;
    border-color: rgba(255, 255, 255, 0.1);

}

.navbar-section div {
    margin-bottom: 1vw;
}


.logo {
    display: inline-block;
    position: relative;
    padding-top: 1vw;

}

.logo-button img {
    width: 100%;
    height: auto;
    max-width: 9vw;
}


.navbar-buttons {
    padding-top: 1vw;
    float: right;
    position: relative;
}

.navbar-buttons a {
    margin-left: 3.7vw;
    padding-bottom: 1.9vw;
}

.navbar-buttons a:hover {
    border-bottom: 0.1vw solid;
    border-color: rgba(255, 255, 255, 0.5);
}

#header-content {
    position: absolute;
    top: 51%;
    left: 49%;
    text-align: center;
    transform: translate(-50%, -50%);
}

#header-content h1 {
    margin: 0;
    font-size: 3.8vw;
}

#header-content p {
    font-size: 1.7vw;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
}

#user-nav {
    position: absolute;
    width: 100%;
    background-color: black;
    margin-top: -0.3vw;
}

#user-nav a {
    padding: 2vw 0;
    display: inline-block;
    width: 51%;
    font-weight: 600;
    font-size: 1.3vw;
    text-align: center;
}

#login-btn {
    background-color: #21424A;
    float: left;
    clip-path: polygon(0 0, 100% 0%, 97% 100%, 0% 100%);
    margin-right: -2vw;

}

#register-btn {
    float: right;
    background-color: #2FAC6C;
    clip-path: polygon(3% 0%, 100% 0%, 100% 100%, 0 100%);
    margin-left: -2vw;
}

#login-btn:hover {
    background-color: #476d78;
    text-shadow: 0.1vw 0.1vw 1vw white;
}

#register-btn:hover {
    background-color: #56c68c;
    text-shadow: 0.1vw 0.1vw 1vw white;

}


a:-webkit-any-link {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}



/* MAIN */

/* About Us Section */

#site-content {
    background-color: white;
    color: black;
}


#about-us-section {
    position: relative;
    width: 100%;
    display: inline-flex;
    margin-top: 10vw;
    padding-bottom: 4vw;
}

#about-us-text {
    position: relative;
    display: inline-block;
    max-width: 45%;
    text-align: left;
    margin-top: 3vw;
    max-height: fit-content;
}

.container-about-us {
    border-right: 0.2vw dotted #939393;
    padding-left: 12vw;
    padding-right: 6vw;

}

.about-us-header {
    font-size: 2.5vw;
    margin: 0;
    padding-bottom: 1vw;
}

.text {
    font-size: 1vw;
    color: #939393;
    width: 100%;
    line-height: 1.6;
}

.bold {
    font-weight: 900;
}

#employees {
    display: inline-block;
    width: 55%;
    margin-top: 3vw;

}

.employees-table {
    padding-left: 6vw;
}

.people td {
    width: 15vw;
    padding-right: 8vw;
    text-align: center;
    font-weight: bold;

}

.person-img {
    margin-left: auto;
    margin-right: auto;
    clip-path: circle(50%);
    padding: 0.3vw 0.3vw 0.1vw 0.3vw;
    background-color: #93939350;
    overflow: auto;
    display: block;
    max-width: 70%;
    /* width: 70%; */
}

.person-img img {
    clip-path: circle(50%);
    width: 100%;
    height: auto;
}

.person-name {
    margin-top: 1vw;
    margin-left: 0.3vw;
    font-weight: 600;
    text-align: center;
    width: 7vw;
}

.profession {
    text-align: center;
    margin-top: 0.5vw;
    color: #939393;
    font-size: 0.9vw;
}

.emoticons {
    margin-top: 0.5vw;
    float: left;
}

.emoticons i {
    padding-left: 1vw;
    font-size: 0.8vw;
    color: #BFBFBF;
}

.emoticons i:hover {
    color: #0F80B5;
}



/* Testimonials Section */

#testimonials-section {
    width: 100%;
    background-color: #181815;
}

.carousel {
    position: relative;
    height: 12vw;
    overflow: hidden;
    background: repeating-linear-gradient(135deg,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.7),
            0.1vw,
            rgba(0, 0, 0, 0.2) 0.4vw);
}


.carousel img {
    object-fit: cover;
    width: 100%;
    transform: translate(0%, -48%);
    opacity: 0.3;
}

.carousel-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    font-size: 1.2vw;
    width: 60%;
}

.carousel-content span {
    display: block;
    margin-top: 1vw;
}

#carousel-person {
    display: inline-block;
    padding-right: 1vw;
    border-right: 0.1vw solid rgba(255, 255, 255, 0.7);
    color: rgba(255, 255, 255, 0.9);
    font-weight: bold;

}

#carousel-bittons {
    margin-left: 0.5vw;
    display: inline-block;
}

#carousel-bittons input {
    -webkit-appearance: none;
    width: 0.6vw;
    height: 0.6vw;
    border: 0.1vw solid rgba(255, 255, 255);
    border-radius: 50%;
    outline: none;
    box-shadow: 0 0 5px 0px transparent inset;
    margin-left: 0.3vw;
    margin-top: 0;
}

#carousel-bittons input:checked {
    box-shadow: 0 0 5px 0px rgba(255, 255, 255) inset;
}

#services-section {}


p {
    margin-block-start: 0;
    margin-block-end: 0;
}

/* @media only screen {
     For mobile phones:  
    .logo-button {
      width: 50%;
    }
  } */